<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="base :: header"></th:block>
    <style>
        .nav{
            color: black;
            border-bottom-style: outset;
            text-align: left;
            padding: 0px;
        }
    </style>
</head>
<body>
<div th:replace="base :: navlinks"></div>
<div class="container">
<div class="jumbotron">
    <h1 style="font-style: italic" align="center"><b><u>Repo 1</u></b></h1><br>
  <div class="column">
    <div class="card">
    <ul class="nav">
        <li><h4>Forks()</h4></li>
        <li><h4>Pull Requests()</h4></li>
        <li><h4>Contributors()</h4></li>
        <li><h4>Views()</h4></li>
    </ul>
    </div>
  </div>
</div>
    <ul class="w3-ul w3-bordered w3-hoverable">
        <li>File 1</li>
        <li>File 2</li>
        <li>File 3</li>
    </ul>
</div>
</body>
<div th:replace="base :: footer"></div>
</html>
